<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enagesss</title>
    <link rel="stylesheet" href="../style/css/reset.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../style/css/aboutMe.css">
    <link rel="stylesheet" href="../style/css/media/aboutmeMedia.css">
</head>
<body>
    
    <header class="header">
        <div class="container">

            <nav id="nav" class="nav">

                <h1 class="title"><a href="../index.html">enagesss</a></h1>

                <div class="nav__inner">    
                    <ul class="nav-list">

                        <li><a class="nav-item chu" href="#">Обо мне</a></li>
                        <li><a class="nav-item" href="./photoselp.html">Фотосессии</a></li>
                        <li><a class="nav-item" href="./price.html">Цены</a></li>
                        <li><a class="nav-item" href="./reviews.html">Отзывы</a></li>
                        <li><a class="nav-item" href="./feedback.html">Обратная связь</a></li>

                    </ul>

                    <button id="nav-button" class="nav-button">
                        <i id="fafa" class="fa-solid fa-bars"></i>
                    </button>
                </div>

            </nav>

        </div>

        
     
        <section class="aboutMe">
            <div class="container">
    
    
                <div class="about-me">
                    <div class="all-about">
                        <div class="about-meeee">
                            <h1 class="title">Обо мне</h1>

                            <ul class="about-list">
                                <li class="about-item">
                                    <p>
                                        Та самая Аришикс :)
                                    </p>
                                </li>
                                <li class="about-item ii" >
                                    <p>
                                        Фотографирую друзей/знакомых/всех желающих <br>
                                        Занимаюсь фотографией с 2019 года <br>
                                        Работаю в Домодедово, Москве, и некоторых городах МО <br>(по договорённости)
                                    </p>
                                </li>
                                <li class="about-item">
                                    <p>
                                        Очень люблю когда вы проявляете инициативу, находите идеи для съемки, и делитесь ими со мной! <br>
                                        Но, если вы хотите что бы я вас пофоткала, но не знаете как, напишите мне, я всегда буду рада предложить свои идеи - стиль, локацию, «настроение» съемки!
                                    </p>
                                </li>
                                <li class="about-item">
                                    <p>Любая съемка, в любом месте, с любыми людьми - ценный опыт для меня! <br>
                                        Жду всех!</p>
                                </li>
                            </ul>

                        </div>
                    </div>
        
                </div>
        
            
        </div>
    </section>

    <footer class="footer">
        <div class="container">

            <div class="footer__wrapper">

                <div class="footer-dad">
                    <div class="footer__text">
                        <h1 class="title">arishxx</h1>
                        <p class="subtitle">Фотосъёмки в Москве и МО</p>
                    </div>

                    <div class="phone__wraper">
                        <a href="tel:+79034755006" class="phone">+79034755006</a> <br>
                        <a href="#" class="email">voronikhina@gmail.com</a>
                    </div>
                </div>

                <div class="social-network">
                    <a href="https://t.me/arishxxx"><img src="../img/icons/telegram.png" class="telegram" alt=""></a>
                    <a href="https://instagram.com/enagesss?igshid=YmMyMTA2M2Y="><img src="../img/icons/instagram.png" alt="" class="instagram"></a>
                </div>

            </div>

        </div>
    </footer>

    <script src="../js/menu.js"></script>
</body>
</html>