<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enagesss</title>
    <link rel="stylesheet" href="../style/css/reset.css">    
    <link rel="stylesheet" href="../libs/lightbox.min.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../style/css/photo.css">
    <link rel="stylesheet" href="../style/css/media/photoMedia.css">

</head>
<body>
    

    <header class="header">
        <div class="container">

            <nav id="nav" class="nav">

                <h1 class="title"><a href="../index.html">enagesss</a></h1>
                <div class="nav__inner">
                    <ul class="nav-list">

                        <li class="nav-item portfolio-button"> <a href="#">Портфолио</a></li>
                        <li class="nav-item street-button"> <a href="#">Street photo</a></li>
                        <li class="nav-item holidays-button"> <a href="#">Праздники</a></li>
                        <li class="nav-item brawl-pass-button"> <a href="#">Броул пас</a></li>

                    </ul>
                    <button id="nav-button" class="nav-button">
                        <i id="fafa" class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </nav>
            

        </div>
        

    </header>

    <section>
        <main class="portfolio">
            <div class="container">
                
                <h1 class="title">Фотографии</h1>

                <div class="slider-portfolio">
                    <h1 class="portfolio-title">Portfolio</h1>
                    <h2 class="portfolio-subtitle">Помогу вам с позированием, поэтому не волнуйтесь, даже если это первая фотосессия</h2>

                    <div class="portfolio-inner">
                        <ul class="dots">
                            <li class="dot pf"></li>
                            <li class="dot pf"></li>
                            <li class="dot pf"></li>
                            <li class="dot pf"></li>
                        </ul>

                        <div class="ladno-portfolio">
                            <i id="prev" onclick="show_imagePortfolio(-1)" class="fa-solid fa-chevron-left"></i> 
                            <ul>
                                <li><a href="../img/components/portfolio/1.jpg" data-lightbox="portfolio"><img class="image image-portfolio"  src="../img/components/portfolio/thumb/thumb-1.jpg" name="picture"></a></li> 
                                <li><a href="../img/components/portfolio/2.jpg" data-lightbox="portfolio"><img class="image image-portfolio"  src="../img/components/portfolio/2.jpg" name="picture"></a></li> 
                                <li><a href="../img/components/portfolio/3.jpg" data-lightbox="portfolio"><img class="image image-portfolio"  src="../img/components/portfolio/3.jpg" name="picture"></a></li> 
                                <li><a href="../img/components/portfolio/4.jpg" data-lightbox="portfolio"><img class="image image-portfolio"  src="../img/components/portfolio/4.jpg" name="picture"></a></li> 
                            </ul>

                            
                            <i id="next" onclick="show_imagePortfolio(1)" class="fa-solid fa-chevron-right"></i> 
                        </div>
                    </div>
                </div>

            </div>


            </div>
        </main>
        
        <main class="street">
            <div class="container">
                
                <div class="slider-street">
                    <h1 class="street-title">Street photo</h1>
                    <h2 class="street-subtitle">Помогу вам с позированием, поэтому не волнуйтесь, даже если это первая фотосессия</h2>

                    <div class="slider-inner">


                        <ul class="dots">
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                            <li class="dot br"></li>
                        </ul>

                        <div class="ladno-street">
                            <i id="prev" onclick="show_imageStreet(-1)" class="fa-solid fa-chevron-left"></i>
                            
                            <ul>

                                <li><a href="../img/components/street/1.jpg" data-lightbox="mygallery"><img class="image  image-street"  src="../img/components/street/thumb/thumb-1.jpg" name="picture"></a></li>
                                <li><a href="../img/components/street/2.jpg" data-lightbox="mygallery"><img class="image  image-street"  src="../img/components/street/thumb/thumb-2.jpg" name="picture"></a></li>
                                <li><a href="../img/components/street/3.jpg" data-lightbox="mygallery"><img class="image  image-street"  src="../img/components/street/thumb/thumb-3.jpg" name="picture"></a></li>
                                <li><a href="../img/components/street/4.jpg" data-lightbox="mygallery"><img class="image  image-street"  src="../img/components/street/thumb/thumb-4.jpg" name="picture"></a></li>
                                <li><a href="../img/components/street/5.jpg" data-lightbox="mygallery"><img class="image  image-street"  src="../img/components/street/thumb/thumb-5.jpg" name="picture"></a></li>
                                <li><a href="../img/components/street/6.jpg" data-lightbox="mygallery"><img class="image  image-street"  src="../img/components/street/thumb/thumb-6.jpg" name="picture"></a></li>
                                <li><a href="../img/components/street/7.jpg" data-lightbox="mygallery"><img class="image  image-street"  src="../img/components/street/thumb/thumb-7.jpg" name="picture"></a></li>
                                <li><a href="../img/components/street/8.jpg" data-lightbox="mygallery"><img class="image  image-street"  src="../img/components/street/thumb/thumb-8.jpg" name="picture"></a></li>
                                <li><a href="../img/components/street/9.jpg" data-lightbox="mygallery"><img class="image  image-street"  src="../img/components/street/thumb/thumb-9.jpg" name="picture"></a></li>
                                <li><a href="../img/components/street/10.jpg" data-lightbox="mygallery"><img class="image image-street"  src="../img/components/street/thumb/thumb-10.jpg" name="picture"></a></li> 
                                <li><a href="../img/components/street/11.jpg" data-lightbox="mygallery"><img class="image image-street"  src="../img/components/street/thumb/thumb-11.jpg" name="picture"></a></li> 
                                <li><a href="../img/components/street/12.jpg" data-lightbox="mygallery"><img class="image image-street"  src="../img/components/street/thumb/thumb-12.jpg" name="picture"></a></li> 
                                <li><a href="../img/components/street/13.jpg" data-lightbox="mygallery"><img class="image image-street"  src="../img/components/street/thumb/thumb-13.jpg" name="picture"></a></li> 
                            </ul>

                           
                            <i id="next" onclick="show_imageStreet(1)" class="fa-solid fa-chevron-right"></i>

                        </div>
                    </div>
                </div>
            </div>
        </main> 




        <main class="holidays">
            <div class="container">


                <div class="slider-holidays">

                    <h1 class="holidays-title">Holidays</h1>
                    <h2 class="holidays-subtitle">Помогу вам с позированием, поэтому не волнуйтесь, даже если это первая фотосессия</h2>

                    <div class="holidays-inner">
                        <ul class="dots">
                            <li class="dot bar"></li>
                            <li class="dot bar"></li>
                            <li class="dot bar"></li>
                        </ul>

                        <div class="ladno-holidays">
                            <i id="prev" onclick="show_imageHolidays(-1)" class="fa-solid fa-chevron-left"></i>
                            
                            <ul>
                                <li><a href="../img/components/holidays/1.jpg" data-lightbox="holidays"> <img class="image image-holidays" src="../img/components/holidays/1.jpg" name="picture"> </a></li>
                                <li><a href="../img/components/holidays/2.jpg" data-lightbox="holidays"> <img class="image image-holidays" src="../img/components/holidays/2.jpg" name="picture"> </a></li>
                                <li><a href="../img/components/holidays/3.jpg" data-lightbox="holidays"> <img class="image image-holidays" src="../img/components/holidays/3.jpg" name="picture"> </a></li>
                            </ul>


                            <i id="next" onclick="show_imageHolidays(1)" class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>  


            </div>
        </main>

        <main class="bread">
            <div class="container">
                
                
                <div class="slider-bread">

                    <h1 class="bread-title">Подарите ему уже Бравл Пас</h1>
                    <h2 class="bread-subtitle">Помогу вам с позированием, поэтому не волнуйтесь, даже если это первая фотосессия</h2>

                    <div class="bread-inner">

                        <ul class="dots">
                            <li class="dot bd"></li>
                            <li class="dot bd"></li>
                        </ul>

                        <div class="ladno-bread">
                            <i id="prev" onclick="show_imageBread(-1)" class="fa-solid fa-chevron-left"></i>
                            
                            <ul>
                                <li><a href="../img/components/bread/1.jpg" data-lightbox="bread"> <img class="image image-bread" src="../img/components/bread/1.jpg" name="picture"> </a></li>
                                <li><a href="../img/components/bread/2.jpg" data-lightbox="bread"> <img class="image image-bread" src="../img/components/bread/2.jpg" name="picture"> </a></li>
                            </ul>

                            
                            <i id="next" onclick="show_imageBread(1)" class="fa-solid fa-chevron-right"></i>

                        </div>
                    </div>
                </div>  


            </div>
        </main>
    </section>
    <footer class="footer">
        <div class="container">

            <div class="footer__wrapper">

                <div class="footer-dad">
                    <div class="footer__text">
                        <h1 class="title">arishxx</h1>
                        <p class="subtitle">Фотосъёмки в Москве и МО</p>
                    </div>

                    <div class="phone__wraper">
                        <a href="tel:+79034755006" class="phone">+79034755006</a> <br>
                        <a href="#" class="email">voronikhina@gmail.com</a>
                    </div>
                </div>

                <div class="social-network">
                    <a href="https://t.me/arishxxx"><img src="../img/icons/telegram.png" class="telegram" alt=""></a>
                    <a href="https://instagram.com/enagesss?igshid=YmMyMTA2M2Y="><img src="../img/icons/instagram.png" alt="" class="instagram"></a>
                </div>

            </div>

        </div>
    </footer>
    
    <script src="../js/slider.js"></script>
    <script src="../js/scroll/main.js"></script>
    <script src="../js/scroll/photo-scroll.js"></script>
    <script src="../libs/lightbox-plus-jquery.min.js"></script>


</body>
</html>