<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enagesss</title>
    <link rel="stylesheet" href="../style/css/reset.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../style/css/price.css">
    <link rel="stylesheet" href="../style/css/media/priceMedia.css">
</head>
<body>
    <header class="header">

        <div class="container">

            <nav id="nav" class="nav">

                <h1 class="title"><a href="../index.html">enagesss</a></h1>

                <div class="nav__inner">    
                    <ul class="nav-list">

                        <li><a class="nav-item chu" href="./aboutMe.html">Обо мне</a></li>
                        <li><a class="nav-item" href="./photoselp.html">Фотосессии</a></li>
                        <li><a class="nav-item" href="#">Цены</a></li>
                        <li><a class="nav-item" href="./reviews.html">Отзывы</a></li>
                        <li><a class="nav-item" href="./feedback.html">Обратная связь</a></li>

                    </ul>

                    <button id="nav-button" class="nav-button">
                        <i id="fafa" class="fa-solid fa-bars"></i>
                    </button>
                </div>

            </nav>

        </nav>
        </div>
    </header>

    <main class="price">
        <div class="container">

            <div class="price__wrapper">

                <div class="photoset">
                    <strong><h1 class="title-price">ФОТОСЕСИИ</h1></strong>
                    <h2 class="subtitle-price">только съемка, без обработки фотографий</h2>

                    <div class="blocks">
                        <ul class="list">
                            <li class="item"> <h3 class="h3">Первая фотосессия в Домодедово</h3></li>
                            <li class="item"> <h3 class="h3">Первая фотосессия в Москве</h3></li> 
                            <li class="item del"> <h3 class="h3">Фотосессия в Домодедово</h3> </p></li> 
                            <li class="item"> <h3 class="h3">Фотосессия в Москве  </h3> </li> 
                        </ul>

                        <ul class="block">
                            <li><p class="p four">300₽</p></li>
                            <li><p class="p four">325₽</p></li>
                            <li><p class="p three">350₽</li>
                            <li><p class="p four">400₽</p></li>
                        </ul>
                    </div>
                </div>

                <div class="processing">
                    <strong> <h1 class="title-price">ОБРАБОТКА</h1> </strong>

                    <div class="blocks">
                        <ul class="list">
                            <li class="item"> <h3 class="h3">Обработка 10 фото на мой выбор</h3></li>
                            <li class="item"> <h3 class="h3">Обработка 10 фото на ваш выбор</h3></li> 
                        </ul>

                        <ul class="block">
                            <li><p class="p one">100₽</p></li>
                            <li><p class="p two">150₽</p></li>
                        </ul>


                </div>
                
            </div>

            <div class="speed">
                <strong><h1 class="title-price">УСКОРЕННАЯ ОТПРАВКА</h1></strong>
                <h2 class="subtitle-price">без ускоренной отправки фотографии без обработки  отправлю в течение недели,  с обработкой – в течении двух недель</h2>

                <div class="blocks">
                    <ul class="list">
                        <li class="item"> <h3 class="h3">Ускоренная отправка фото без обработки (в течении 24 часов после съемки)</h3></li> 
                        <li class="item del"> <h3 class="h3">Ускоренная отправка фото с обработкой (в течении 24 часов после съемки)</h3></p></li> 
                    </ul>

                    <ul class="block">
                        <li><p class="p one">150₽</p></li>
                        <li><p class="p two">200₽</p></li>
                    </ul>
                </div>
            </div>

            <div class="packet">
                <strong><h1 class="title-price">ГОТОВЫЕ ПАКЕТЫ СЪЁМОК </h1></strong>
                <h2 class="subtitle-price">скидки при выборе пакета 2% от цены</h2>

                <div class="blocks">
                    <ul class="list">
                        <li class="item">
                            <h3 class="h3">
                                Вариант первый: <br>
                                - Съёмка <br>
                                - Обработка фото(от 10 штук) <br>
                                - Ускоренная отправка
                            </h3></li>
                        <li class="item">
                            <h3 class="h3">
                                Вариант второй: <br>
                                - Съёмка <br>
                                - Обработка фото (от 10 штук)
                            </h3>
                        </li> 
                        <li class="item">
                            <h3 class="h3">
                                Вариант третий: <br>
                                - Съёмка <br>
                                - Ускоренная отправка <br>
                                (в течении 24 часов после съёмки)
                            </h3>
                    </li> 
                    </ul>
                </div>
            </div>

            <div class="important">

                <h1 class="title">ВАЖНО</h1>
                <p class="dead">Если у вас остались вопросы, можете написать мне. Отвечу абсолютно на все вопросы :) </p>

            </div>

        </div>
    </main>

    <footer class="footer">
        <div class="container">

            <div class="footer__wrapper">

                <div class="footer-dad">
                    <div class="footer__text">
                        <h1 class="title">arishxx</h1>
                        <p class="subtitle">Фотосъёмки в Москве и МО</p>
                    </div>

                    <div class="phone__wraper">
                        <a href="tel:+79034755006" class="phone">+79034755006</a> <br>
                        <a href="#" class="email">voronikhina@gmail.com</a>
                    </div>
                </div>

                <div class="social-network">
                    <a href="https://t.me/arishxxx"><img src="../img/icons/telegram.png" class="telegram" alt=""></a>
                    <a href="https://instagram.com/enagesss?igshid=YmMyMTA2M2Y="><img src="../img/icons/instagram.png" alt="" class="instagram"></a>
                </div>

            </div>

        </div>
    </footer>

    <script src="../js/menu.js"></script>
</body>
</html>