<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/css/reset.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../style/css/reviews.css">
    <link rel="stylesheet" href="../style/css/media/reviews.css">
    <title>enagesss</title>
</head>
<body>
    <header class="header">

        <div class="container">

            <nav id="nav" class="nav">

                <h1 class="title"><a href="../index.html">enagesss</a></h1>

                <div class="nav__inner">    
                    <ul class="nav-list">

                        <li><a class="nav-item chu" href="./aboutMe.html">Обо мне</a></li>
                        <li><a class="nav-item" href="./photoselp.html">Фотосессии</a></li>
                        <li><a class="nav-item" href="./price.html">Цены</a></li>
                        <li><a class="nav-item" href="#">Отзывы</a></li>
                        <li><a class="nav-item" href="./feedback.html">Обратная связь</a></li>

                    </ul>

                    <button id="nav-button" class="nav-button">
                        <i id="fafa" class="fa-solid fa-bars"></i>
                    </button>
                </div>

            </nav>

        </nav>
        </div>
    </header>


    <main class="reviews">
        <div class="container">

            <div class="reviews-inner">

                <h1 class="title">Впечатления, Мнения, Отзывы</h1>
                <h2 class="name"><a href="https://vk.com/id556430631">@lizarabnakova</a> </h2>

                <div class="reviews-p">
                    <p class="reviews-text">Фотки суперские, очень понравились, качество обалденное!! Фотограф очень добрый и милый, работать с Аришикс только в кайф!! Оправдала все ожидания)</p>
                </div>
            </div>

        </div>
    </main>

    <footer class="footer">
        <div class="container">

            <div class="footer__wrapper">

                <div class="footer-dad">
                    <div class="footer__text">
                        <h1 class="title">arishxx</h1>
                        <p class="subtitle">Фотосъёмки в Москве и МО</p>
                    </div>

                    <div class="phone__wraper">
                        <a href="tel:+79034755006" class="phone">+79034755006</a> <br>
                        <a href="#" class="email">voronikhina@gmail.com</a>
                    </div>
                </div>

                <div class="social-network">
                    <a href="https://t.me/arishxxx"><img src="../img/icons/telegram.png" class="telegram" alt=""></a>
                    <a href="https://instagram.com/enagesss?igshid=YmMyMTA2M2Y="><img src="../img/icons/instagram.png" alt="" class="instagram"></a>
                </div>

            </div>

        </div>
    </footer>
    <script src="../js/menu.js"></script>
</body>
</html>