@import url('../css/import/import.css');

@font-face {
    font-family: "CenturyGothic";
    src: url("../fonts/centurygothic.ttf");
    font-style: normal;
    font-weight: 400;
}

.price{
    background: #f8f8f8;
}

.photoset{

    .title-price{
        padding-top: 120px;
        font-size:35px;
        font-family: 'CenturyGothic', sans-serif;
        font-weight: 600;
        text-align: center;
    }

    .subtitle-price{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        margin-top: 26px;
        font-family: 'CenturyGothic', sans-serif;
    }
    .blocks{   
        display: flex;
        margin-top: 40px;
        align-items: center;
        justify-content: space-around;
        .list{
            font-size: 23px;
            font-family: 'CenturyGothic', sans-serif;

            .item{
                display: flex;
                margin-top: 5px;

            }

            .del{
                margin-top: 30px;
            }
            
        }

        .block{
            font-family: 'CenturyGothic', sans-serif;
            font-size: 20px;
            .p{
                margin-top: 5px;
            }

            .three{
                margin-top: 30px;
            }
        }
    }


}

.processing{

    .title-price{
        padding-top: 100px;
        font-size:35px;
        font-family: 'CenturyGothic', sans-serif;
        font-weight: 600;
        text-align: center;
    }

    .blocks{   
        display: flex;
        margin-top: 40px;
        align-items: center;
        justify-content: space-around;
        .list{
            font-size: 23px;
            font-family: 'CenturyGothic', sans-serif;

            .item{
                display: flex;
                margin-top: 5px;
                
            }
            
        }

        .block{
            font-family: 'CenturyGothic', sans-serif;
            font-size: 20px;
            margin-top: 10px;
        }
        
        .two{
            margin-top: 5px;
        }
    }


}

.speed{

    .title-price{
        padding-top: 100px;
        font-size:35px;
        font-family: 'CenturyGothic', sans-serif;
        font-weight: 600;
        text-align: center;
    }

    .subtitle-price{
        font-size: 20px;
        font-weight: 500;
        margin: 0 auto;
        max-width: 800px;
        text-align: center;
        margin-top: 26px;
        font-family: 'CenturyGothic', sans-serif;
    }

    .blocks{   
        display: flex;
        margin-top: 40px;
        justify-content: space-around;
        
        .list{
            font-size: 20px;
            font-family: 'CenturyGothic', sans-serif;

            .item{
                display: flex;
                margin-top: 5px;
                max-width: 450px;      
                margin-left: 15px;    
            }

            .del{
                margin-top: 30px;
            }
            
        }

        .block{
            font-family: 'CenturyGothic', sans-serif;
            font-size: 20px;
            
            .two{
                margin-top: 50px;
            }

            .one{
                margin-top: 20px;
            }
            .p{
                margin-left: -40px;
            }
            

        }
    }


}

.packet{

    .title-price{
        padding-top: 100px;
        font-size:35px;
        font-family: 'CenturyGothic', sans-serif;
        font-weight: 600;
        text-align: center;
    }

    .subtitle-price{
        font-size: 20px;
        font-weight: 500;
        margin: 0 auto;
        text-align: center;
        margin-top: 26px;
        font-family: 'CenturyGothic', sans-serif;
    }




}

.packet{
    font-size:22px ;
    font-family: 'CenturyGothic', sans-serif;
    text-align: center;

    .blocks{
        .list{
            margin-top: 40px;

            .item{
                margin-top: 30px;
            }
        }

    }
}

.important{
    .title{
        margin-top: 100px;
        font-size:35px ;
        font-family: 'CenturyGothic', sans-serif; 
        font-weight: 600;
        text-align: center;
    }

    .dead{
        text-align: center;
        font-family: 'CenturyGothic', sans-serif; 
        font-size: 20px;
        margin: 0 auto;
        margin-top: 30px;
        padding-bottom: 100px;
        max-width: 600px;

    }
}